<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Mal Analyzer</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Slabo+27px" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- LOGO/HOME -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">!</a>
        </div>
        <!-- SEARCH -->
        <ul class="nav navbar-nav navbar-right">
          <form method ="post" class="navbar-form" role="search" action="/user">
            <div class="input-group">
              <input type="text" id="search" name="search" class="form-control" placeholder="Search for a username...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search">
                    <span class="sr-only">Search...</span>
                  </span>
                </button>
              </span>
            </div>
          </form>
      </ul>
      </div>
    </nav>
    <!-- MAIN BODY -->
    <div class="jumbotron">
      <div class="container">
        {{{body}}}
      </div>
    </div>
    <!-- FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
      </div>
    </nav>
  </body>
</html>
