<div class="container" align="center">
  <h3>{{{name}}}</h3>
  <img class="img-circle" src="{{{picture}}}">
  <hr>
  <h3>Summary</h3>
  <hr>
  <h3>Scores</h3>
  <hr>
  <h3>Watching</h3>
  <hr>
</div>
