@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:1;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}

body {
    margin: 0;
    background-color: #eeeeee;
}

.loading-overlay {
    background: #FFFFFF;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
}

/*NAVIGATION*/
.navbar .navbar-default .navbar-fixed-top {
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    background-color: #0d47a1;
    border: none;
}
.navbar-default {
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.10), 0 2px 5px rgba(0,0,0,0.23);
}
.navbar-header {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    background-color: #0d47a1;
    border: none;
}
.navbar-brand {
    text-shadow: none;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
    border: none;
}

.navbar-form {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0d47a1;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    border: none;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}

/*INPUT*/
.input-group {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}
.form-control {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: solid;
    border-bottom-color: #FFFFFF;
    background-color: #0d47a1;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    -webkit-box-shadow: none;
}

.form-control:focus {
    border-color: #002171;
}

.input-group {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
}
input[type="text"], textarea {
    box-shadow:none !important;
    color: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #FFFFFF !important;
}

.navbar a:hover { color: #fff !important; }

.form-control::-moz-placeholder {
    color: #FFF;
}
.form-control:-ms-input-placeholder {
    color: #FFF;
}
.form-control::-webkit-input-placeholder {
    color: #FFF;
}

.btn-custom {
    background-color: #0d47a1 !important;
    color: #FFF !important;
    -webkit-font-smoothing: antialiased;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow:none !important;
}

.panel {
    background-color: #fafafa;
    padding: 0;
    margin-top: 5em;
    margin-bottom: 5em;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.panel-header {
    font-family: 'Slabo 27px', serif;
    font-size: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: #5472d3;
    padding: 1em;
    border-top-right-radius: .2em;
    border-top-left-radius: .2em;
}
.panel-body {
    padding: 2em;
    margin: 0;
    color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
    text-align: center;
    color: #212121;
}